.App {
    display: flex;
    justify-content: center;
  }
  
  .credit-card {
  
    background-color: rgb(56, 58, 65);
    width: 400px;
    height: 250px;
    border-radius: 10px;
    color: #ffffff;
    font-size: 10px;
  }
  
  .chip{
    background-color: #8C8B8A;
    width: 50px;
    height: 40px;
    border-radius: 10px;
    margin-left: 30px;
  }
  
  .card-number{
    font-size: 25px;
    font-weight: 400;
    text-align: center;
   
  }
  
  
  .v-thru{
    font-size: 15px;
    font-weight: 300;
    text-align: center;
   
  }
  
  
  .holder{
    font-size: 15px;
    font-weight: 400;
    float: left;
    padding-left: 10px;}
  
  
  
  .logo {
    width: 100px;
    height: 60px;
    background-color: rgb(168, 184, 185);
    float: right;
    margin-top: -28px;
    
  
  }
  
  .company-name{
    text-align: right;
    padding: 10px;
  }
  
  
  .inpt{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 100px;
  }